.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: var(--ec-button-min-height);
    min-width: var(--ec-button-min-width);

    font-family: var(--ec-button-font-family);
}

.button--ghost {
    background-color: var(--ec-button-color-background-ghost);
    color: var(--ec-button-color-foreground-ghost);

    &:hover:not(:disabled) {
        background-color: var(--ec-button-color-background-ghost-hover);
        color: var(--ec-button-color-foreground-ghost-hover);
    }

    &:disabled {
        background-color: var(--ec-button-color-background-ghost-disabled);
        color: var(--ec-button-color-foreground-ghost-disabled);
    }
}

.button--icon {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}
