.button {
    cursor: pointer;
    border: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: var(--ec-button-min-height);
    min-width: var(--ec-button-min-width);

    font-family: var(--ec-button-font-family);
    height: 32px;

    position: relative;
}

.button--default {
    background-color: var(--ec-button-color-background-default);
    color: var(--ec-button-color-foreground-default);
    border-radius: 99999px;
    padding-inline: var(--ec-spacing-4);

    &:hover:not(.button--disabled) {
        background-color: var(--ec-button-color-background-default-hover);
        color: var(--ec-button-color-foreground-default-hover);
    }

    &.button--disabled {
        background-color: var(--ec-button-color-background-default-disabled);
        color: var(--ec-button-color-foreground-default-disabled);
    }
}

.button--ghost {
    background-color: var(--ec-button-color-background-ghost);
    color: var(--ec-button-color-foreground-ghost);

    &:hover:not(.button--disabled) {
        background-color: var(--ec-button-color-background-ghost-hover);
        color: var(--ec-button-color-foreground-ghost-hover);
    }

    &.button--disabled {
        background-color: var(--ec-button-color-background-ghost-disabled);
        color: var(--ec-button-color-foreground-ghost-disabled);
    }
}

.button--icon {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}

.button__content {
    transition: opacity 0.2s ease;
}

.button--loading .button__content {
    opacity: 0;
}

.button__spinner {
    position: absolute;
    inset: 0;
    margin: auto;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-image: var(--ec-button-loading-spinner);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    animation: button-spinner-rotate 1s linear infinite;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

.button__spinner--visible {
    opacity: 1;
}

@keyframes button-spinner-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
