<button
    class="button"
    [disabled]="isDisabled() || isLoading()"
    [class.button--default]="variant() === 'default'"
    [class.button--ghost]="variant() === 'ghost'"
    [class.button--icon]="isIcon()"
    [class.button--loading]="isLoading()"
    [class.button--disabled]="isDisabled()"
    (click)="onClick.emit()"
>
    <span class="button__content">
        <ng-content>{{ label() }}</ng-content>
    </span>
    <span class="button__spinner" [class.button__spinner--visible]="isLoading()"></span>
</button>