.button {
    cursor: pointer;
    border: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: var(--ec-button-min-height);
    min-width: var(--ec-button-min-width);

    font-family: var(--ec-button-font-family);
    height: 32px;
    
}

.button--default {
    background-color: var(--ec-button-color-background-default);
    color: var(--ec-button-color-foreground-default);
    border-radius: 99999px;
    padding-inline: var(--ec-spacing-4);

    &:hover:not(:disabled) {
        background-color: var(--ec-button-color-background-default-hover);
        color: var(--ec-button-color-foreground-default-hover);
    }

    &:disabled {
        background-color: var(--ec-button-color-background-default-disabled);
        color: var(--ec-button-color-foreground-default-disabled);
    }
}

.button--ghost {
    background-color: var(--ec-button-color-background-ghost);
    color: var(--ec-button-color-foreground-ghost);

    &:hover:not(:disabled) {
        background-color: var(--ec-button-color-background-ghost-hover);
        color: var(--ec-button-color-foreground-ghost-hover);
    }

    &:disabled {
        background-color: var(--ec-button-color-background-ghost-disabled);
        color: var(--ec-button-color-foreground-ghost-disabled);
    }
}

.button--icon {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}
