<app-button
    class="counter__button"
    aria-label="Disminuir cantidad"
    variant="ghost"
    [isIcon]="true"
    [isDisabled]="!canDecrement()"
    (onClick)="handleDecrement()"
    
>
    <ng-icon [svg]="Icons.minus"></ng-icon>
</app-button>
<span
    class="counter__count"
    [class.counter__count--disabled]="isDisabled()"
    aria-label="Valor de entrada de la cantidad"
>
    {{ value() }}
</span>
<app-button
    class="counter__button"
    aria-label="Aumentar valor"
    variant="ghost"
    [isIcon]="true"
    [isDisabled]="!canIncrement()"
    (onClick)="handleIncrement()"
    
>
    <ng-icon [svg]="Icons.plus"></ng-icon>
</app-button>