:root {
    /* Colors */
    --ec-color-dark: #101010;
    --ec-color-primary: oklab(45.995000000000005% -0.04179 -0.13411);
    --ec-color-primary-dark: oklab(42.691% -0.0389 -0.124);


    /* Spacing */
    --ec-spacing-1: 2px;
    --ec-spacing-2: 4px;
    --ec-spacing-3: 8px;
    --ec-spacing-4: 12px;
    --ec-spacing-5: 16px;
    --ec-spacing-6: 24px;
    --ec-spacing-7: 32px;
    --ec-spacing-8: 48px;
    --ec-spacing-9: 64px;


    /* Fonts */
    --ec-font-family: 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif;

    /* Components */

    /* Button */
    --ec-button-font-family: var(--ec-font-family);
    --ec-button-min-height: 32px;
    --ec-button-min-width: 32px;
    --ec-button-loading-spinner: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='10' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-dasharray='31.42 31.42' transform='rotate(-90 12 12)'/%3E%3C/svg%3E");

    --ec-button-color-background-default: var(--ec-color-primary);
    --ec-button-color-background-default-hover: var(--ec-color-primary-dark);
    --ec-button-color-background-default-disabled: oklab(84.521% 0 -0.0001);

    --ec-button-color-foreground-default: #ffffff;
    --ec-button-color-foreground-default-hover: #ffffff;
    --ec-button-color-foreground-default-disabled: #ffffff;

    --ec-button-color-background-ghost: transparent;
    --ec-button-color-background-ghost-hover: oklab(90.365% 0 -0.0001);
    --ec-button-color-background-ghost-disabled: transparent;

    --ec-button-color-foreground-ghost: var(--ec-color-dark);
    --ec-button-color-foreground-ghost-hover: var(--ec-color-dark);
    --ec-button-color-foreground-ghost-disabled: oklab(84.521% 0 -0.0001);

    /* Counter */
    --ec-counter-color-border: var(--ec-color-dark);
    --ec-counter-border-radius: 100vmax;
    
    
}